# sniproxy example configuration file
# lines that start with # are comments
# lines with only white space are ignored

user daemon

# PID file
pidfile /var/run/sniproxy.pid

error_log {
    # Log to the daemon syslog facility
    syslog deamon

    # Alternatively we could log to file
    #filename /var/log/sniproxy/sniproxy.log

    # Control the verbosity of the log
    priority notice
}

# blocks are delimited with {...}
listen 80 {
    proto http

    access_log {
        filename /var/log/sniproxy/http_access.log
#        priority notice
    }
}

listen 443 {
    proto tls

    access_log {
        filename /var/log/sniproxy/https_access.log
#        priority notice
    }
}

resolver {
    nameserver 8.8.8.8 # local dns should be better
    mode ipv4_only
}

table {
    .*iplocation\.net *
    .*netflix\.com *
    .*netflix\.net *
    .*nflximg\.net *
    .*nflxvideo\.net *
    .*nflxso\.net *
    .*nflxext\.com *
}
